{

"action" : "CreateSubmissionResponse",

"appArgs" : [ "$jobArgument" ],

"appResource" : "$applicationJar",

"clientSparkVersion" : "1.6.0",

"environmentVariables" : {

"SPARK_ENV_LOADED" : "1"

},

"mainClass" : "$mainClass",

"sparkProperties" : {

"spark.jars" : "$applicationJar",

"spark.driver.supervise" : "false",

"spark.app.name" : "$jobName",

"spark.eventLog.enabled": "true",

"spark.submit.deployMode" : "cluster",

"spark.master" : "$sparkClusterUrl"

}

}